@model SportsStore.Domain.Entities.Product

<div class="row">
	<div class="col-md-11">
		<h4>@Model.Name</h4>
		@Model.Description
		@Model.Price.ToString("c")
	</div>
	<div class="col-md-1">
		@using (Html.BeginForm("AddToCart", "Cart"))
		{
			@Html.HiddenFor(x => x.ProductID)
			@Html.Hidden("returnUrl", Request.Url.PathAndQuery)
			<input type="submit" class="btn btn-primary" value="+ Add to cart" />
		}
	</div>


</div>
